
/* @import url("//cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.css") screen; */
@import url("//cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.8.0/jsoneditor.css") screen;

.json-field {
  position: absolute; 
  top: -9999em; 
  left: -9999em;
}
